$bgPrimary: #cacaca;
$bgSecundary: #000;
$bgTerciary: rgb(64 71 86);
$buttonsPrimary: rgb(8 126 164);
$color--h2:rgb(35 39 47);

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: $bgPrimary;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



header{
  height: 70%;
  background-color: #fff;
  color: $bgSecundary;
  nav{
    ul{
      
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1em 0;
      li{
        font-weight: 500;
        margin: 0 2em;
        list-style: none;
        text-transform: uppercase;
        a{
          text-decoration: none;
          color: #000;
          padding: 10px;
        }
        a:hover{
          width: 150px;
          height: 50px;
          border-radius: 99999px;
          background-color: #cacaca;
          padding: 10px;
        }
      }
    
      

  }
  
    
  }
  
  div{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    h1{
      
      margin-bottom: 1em;
      text-align: center;
      
    }

    img {
      width: 150px;
      margin: 1.5em auto 0.5em auto; 
    }
    p{
      text-align: center;
      color: $bgTerciary;
      font-size: 2em;
      font-weight: 500;
    }
  }
  .buttons{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 50px;
    
    
    button{
      width: 150px;
      height: 50px;
      background-color: $buttonsPrimary;
      color: #fff;
      border: none;
      border-radius: 99999px; 
      padding: 10px;
      font-weight: bold;
      margin: 0 0.5em;

    }
    button:last-child{
      background-color: #fff;
      color: #000;
      border: 1px solid #cacaca ;

    }
    button:hover{
      opacity: 0.8;
    }
    button:last-child:hover{
      opacity: 1;
    }
  }
  
}

section{
  background-color: #bcc1cd;
  color: #000;
  padding: 1em;
  h2{
    text-align: center;
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-size: 2em;
    color: $color--h2;
    
  }
  p{
    text-align: center;
    color: $bgTerciary;
    font-size: 1.2em;
    padding: 1em;
  }
}

